* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'PT Sans Narrow', sans-serif;
  --themeColor1: #f16af6;
  --themeColor2: #ae5bd4;
  --themeColor3: #a370eb;
  --themeColor4: #6c5bd4;
  --themeColor5: #6a7bf6;
  --shadow: rgba(0, 0, 0, 0.4);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  padding: 20px;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  background-image: url(../images/pic1.jpg);
}

body h1 {
  font-size: 4em;
}

body h2 {
  grid-column: 1/-1;
  font-size: 3em;
  background-color: var(--themeColor4);
  color: #fff;
  -webkit-box-shadow: 5px 5px 5px var(--shadow);
          box-shadow: 5px 5px 5px var(--shadow);
  text-shadow: 5px 5px 5px var(--shadow);
  margin: 10px;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--themeColor2);
}

header nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

header nav ul li {
  padding: 10px;
}

header nav ul li a {
  font-size: 1.5em;
}

.keyterms {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.keyterms .keyterm {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
  position: relative;
  overflow: hidden;
  margin: 10px;
  -webkit-box-shadow: 5px 5px 5px var(--shadow);
          box-shadow: 5px 5px 5px var(--shadow);
  background-color: var(--themeColor1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.keyterms .keyterm h3 {
  font-size: 2em;
  bottom: 50px;
  position: absolute;
  width: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.keyterms .keyterm p {
  padding: 10px 20px 20px 20px;
  font-size: 1.2em;
  position: absolute;
  top: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.keyterms .keyterm:hover h3 {
  bottom: 100%;
}

.keyterms .keyterm:hover p {
  top: 30px;
}

.questions {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.questions .question {
  position: relative;
  overflow: hidden;
  margin: 10px;
  -webkit-box-shadow: 5px 5px 5px var(--shadow);
          box-shadow: 5px 5px 5px var(--shadow);
  background-color: var(--themeColor5);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  height: 150px;
  color: #fff;
}

.questions .question h4 {
  font-size: 1.5em;
}

.questions .question p {
  padding: 10px 40px 40px 40px;
  font-size: 1.2em;
  position: absolute;
  top: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.questions .question:hover p {
  top: 60px;
}

@media only screen and (max-width: 1500px) {
  .keyterms {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .questions {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 900px) {
  .keyterms {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .questions .question {
    height: 200px;
  }
  .questions .question:hover p {
    top: 90px;
  }
}
/*# sourceMappingURL=styles.css.map */